* {
    padding: 0px;
    margin: 0px;
}

body{
  font-family: 'Pangolin', cursive;
}

.container.picker-container {
    background: #0d5a52;
    padding: 30px 30px 60px 30px;
    margin: 0px;
    width: 100%;
}

.navbar-inverse {
    background-color: #0d5a52;
    border-color: #0d5a52;
    margin: 0px;
    padding: 5px 20px;
}

span#basic-addon3 {
    background: #0d5a52;
    color: #fff;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    background: #0d5a52;
    color: #fff;
}

h1.picker-h1.text-center {
    color: #fff;
    font-size: 70px;
    font-weight: 600;
}

.navbar-brand>img {
    display: block;
    color: #fff;
}

h3.picker-h3.text-center {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
}

input.form-control.posturl-input {
    margin-bottom: 20px;
}

.col-md-3.feedback-block {
    width: 20%;
    background: #0d5a52;
    margin: 30px;
    padding: 15px;
    color: #fff;
    border-radius: 4px;
}

.container.feedback-container {
    padding-left: 90px;
    padding-top: 30px;
}

h5.feedback-label {
    margin: 0px;
    font-size: 15px;
    font-weight: 500;
    display: inline;
}

.fa.pull-right {
    margin-left: .3em;
    font-size: 2rem;
}


@media (max-width:768px) {

  .col-md-3.feedback-block {
    width: 80%;
  }

  .container.feedback-container {
    padding-left: 40px;
  }

  .container.picker-container {
    padding: 40px;
  }

  h3.picker-h3.text-center {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 30px;
    margin-top: 0px;
  }

}
